body {
    background: black;
}
header {
    background: url(https://wallpaperaccess.com/full/2647463.jpg);
    width: 100%;
    padding: 70px 0px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

header .logo {
    -webkit-text-stroke: 2px #D7BBE3;
    text-transform: uppercase;
    font-size: 70px;
    font-weight: bold;
    background-image: url(https://media0.giphy.com/media/5oJgXGcfbkQiI5S1OI/giphy.gif?cid=ecf05e47x8fd5fk8q7zbc7bpzm09tivl73lsjt1cifhink52&rid=giphy.gif);
    background-position: center;
    -webkit-background-clip: text;
    color: transparent;
}

.btn-white {
    margin: 5px;
    border-radius: 25px;
    display: inline-block;
    line-height: 1;
    padding: 14px 28px;
    font-weight: bold;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 3px solid #fff;
    background: none;
    color: #fff;
}

.btn-white:hover {
    color: #A58ADA;
    border: 3px dashed #fff;
    background: #ffffff;
    background: url(https://media0.giphy.com/media/5oJgXGcfbkQiI5S1OI/giphy.gif?cid=ecf05e47x8fd5fk8q7zbc7bpzm09tivl73lsjt1cifhink52&rid=giphy.gif);
    background-position: center;
}

main {
    padding: 20px;
}

.stories {
    padding: 10px 0 40px 0;
    color: white
}

.stories h2 {
    font-size: 32px;
    line-height: 44px;
    font-weight: normal;
    margin-bottom: 40px;
}

.stories h5 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 16px;
}

.stories .houston {
    margin-bottom: 40px;
    width: 50%;
    padding: 50px 0 0 0;
}

.space-invader img {
    border-radius: 30px;
    width: 100;
}
.future-city img {
    padding-right: 111px;
}
.stories .first-american {
    padding: 80px 0 0 0;
}

.stories .astronauts {
    padding: 100px 0 0 0;
}

.space {
    color: white;
    padding: 80px 0 40px 0;
}

.space img {
    width: 80%;
}

.space h2 {
    font-size: 32px;
    line-height: 44px;
    font-weight: normal;
}

.crew {
    padding-bottom: 5px;
}

.galleon {
    padding: 70px 0 0 0;
}


.values {
    padding-top: 50px;
}

.values img {
    width: 50%;
}

footer {
 
}